<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Картотека</title>
    <link rel="stylesheet" href="style/lib/normalize.css">
    <link rel="stylesheet" href="style/main.css">

    <script src="js/vendor/jquery-2.1.4.min.js"></script>
    <script src="js/vendor/angular.min.js"></script>

</head>
<body ng-app="olympics">

<div class="page-wrapper">
    <header class="container">
        <div class="logo">Картотека</div>
        <div class="menu">
            <label for="sel-menu" class="label-menu">фильтр:</label>
            <input type="text" class="sel-menu" id="sel-menu" ng-model="searchString" placeholder="золото, серебро или бронза">
        </div>
    </header>
    <section ng-controller="MainController" class="container">
        <div class="cards-wrapper">
            <view ng-repeat="score in scores | searchFor:searchString" info="score"></view>
            <!-- Здесь при открытии страницы ангуляр добавит 10 карточек со спортсменами -->
        </div>
    </section>
    <div class="page-buffer"></div>
</div>

<footer>
    <div class="text-block">&copy; пример для практического задания</div>
</footer>

<!-------------------Scripts------------------>

    <script src="js/main.js"></script>

<!-- Modules -->
    <script src="js/app.js"></script>

<!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>

<!-- Directives -->
    <script src="js/directives/view.js"></script>
</body>
</html>